.nav-space{
    margin: 30px 25px;
}

#lorem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    font-style: italic;
}

a{
    color:green;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}